.App {
  text-align: center;
  font-family: Lato;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 125px;
  padding: 20px;
  color: white;
}

.App-title {
  font-family: 'Lato';
  text-transform: uppercase;
  font-size: 2.0em;
  letter-spacing: 0.2em;
}

.App-intro {
  font-size: large;
}

.App-input-name[type=text] {
  display: block;
  width: 75%;
  height: 100px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.App-input[type=submit] {
  width: 100px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
