body {
  background-color: #f4f8ff;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

/* Header Component */
#menu {
  margin: 0 0;
  position: absolute;
}

#menu ul {
  list-style-type: none;

  margin: 0;
  padding: 30px 0;

  width: 40%;
  position: absolute;
  top: 0;
}

#menu #menu-left {
  left: 0;
}
#menu #menu-right {
  right: 0;
}

#menu li {
  text-align: center;
  display: inline;
}

#menu #li-left {
  float: left;
}

#menu #li-right {
  float: right;
}

#menu li a {
  font-size: 14px;
  color: white;
  text-decoration: none;
  padding: 32px 32px;
}

#menu li a:hover {
  background-color: #99F4F8;
}

#titleMenu {
  text-align: center;
  display: block;
  width: 20%;
  margin: 0 auto;
}

#titleMenu h1 {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-family: 'Lato', sans-serif;
  color: white;
}

.header {
  background-color: #222;
  height: 80px;
  width: 100%;
  color: white;
  position: fixed;
}

.content {
  position: absolute;
  top: 80px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  overflow-y: auto;
}

/* Mob Home View Component */
.mob-infobox {
  font-size: 4px;
  height: 400px;
  background-color: white;
  font-size: calc(12px + 0.5vw);
  text-align: left;
  margin: 20px 0;
  padding: 8px 20px;
  box-sizing: border-box;
  border: 2px solid lightgrey;
}

/* Mob Admin View Component */
.button {
  font-size: calc(6px + 0.5vw);
  text-align: center;
  width: 100%;
  padding: 8px 20px;
  margin: 4px;
  box-sizing: border-box;
  border-radius: 10px;
}

.add-button {
  font-size: calc(6px + 0.5vw);
  text-align: center;
  height: 100px;
  width: 100px;
  padding: 8px 20px;
  margin: 4px;
  box-sizing: border-box;
  border-radius: 10px;
  border: 2px solid #808080;
}

.input[type=text] {
  font-size: calc(12px + 0.5vw);
  width: 100%;
  text-align: center;
  padding: 12px 20px;
  margin: 20px 0;
  box-sizing: border-box;
  border-radius: 10px;
  border: 2px dashed #808080;
}

.input[type=file] {
  font-size: calc(8px + 0.5vw);
  text-align: center;
  padding: 12px 20px;
  margin: 20px 0;
}

.input[type=submit] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 10px;
  border: 2px solid #808080;
}

/* Mob Public View Component */
.announcements{
  background-color: white;
  height: 150px;
  font-size: calc(12px + 0.5vw);
  width: 100%;
  text-align: center;
  padding: 12px 20px;
  margin: 20px 0;
  box-sizing: border-box;
  border: 2px solid;
  border-color: lightgrey;
}

.banner{
  height: 300px;
  font-size: calc(12px + 0.5vw);
  width: 100%;
  text-align: center;
  padding: 12px 20px;
  margin: 20px 0;
  box-sizing: border-box;
  border: 2px;
}

.description{
  background-color: white;
  height: 150px;
  font-size: calc(12px + 0.5vw);
  width: 100%;
  text-align: center;
  padding: 12px 20px;
  margin: 20px 0;
  box-sizing: border-box;
  border: 2px solid;
  border-color: lightgrey;
}

.infobox{
  background-color: white;
  font-size: calc(12px + 0.5vw);
  width: 100%;
  text-align: center;
  padding: 12px 20px;
  margin: 20px 0;
  box-sizing: border-box;
  border: 2px solid;
  border-color: lightgrey;
}

.media{
  height: 300px;
  width: 100%;
  padding: 12px 20px;
  margin: 20px 0;
  box-sizing: border-box;
  border: 2px;
}
