body {
  /*background-color: #f4f8ff;*/
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

/* Header Component */
.header {
  background-color: #4484ce;
  height: 80px;
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
  color: white;
  position: fixed;
}

.content {
  position: absolute;
  top: 80px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  overflow-y: auto;
}

.title {
  text-transform: uppercase;
  font-size: 2.0em;
  letter-spacing: 0.2em;
}

.ul {
  list-style-type: none;
  display: inline;
}
/* Mob Home View Component */
.mob-infobox {
  font-size: 4px;
  background-color: white;
  font-size: calc(12px + 0.5vw);
  text-align: left;
  margin: 20px 0;
  box-sizing: border-box;
  box-shadow: 0 2px 10px -2px rgba(22,22,22,0.45);
  border-color: #E8E8E8 !important;
}

.mob-infobox-details{
  width: 100%;
  /*border: 3px solid rgba(0, 0, 0, 0.12);*/
  border-top: 0px;
  margin-top: -6px;
  padding: 17px 20px 20px 33px;
  color: gray;
}
.mob-infobox-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  font-size: 31px;
  height: 45px;
  color: #4484ce;
}
.mob-infobox-date-and-time {
  display: block;
}
.mob-infobox-location {
  display: block;
  margin-bottom: 1px;
}

/* Mob Admin View Component */
.button {
  font-size: calc(6px + 0.5vw);
  text-align: center;
  width: 100%;
  padding: 8px 20px;
  margin: 4px;
  box-sizing: border-box;
  border-radius: 10px;
}

.add-button {
  font-size: calc(6px + 0.5vw);
  text-align: center;
  height: 100px;
  width: 100px;
  padding: 8px 20px;
  margin: 4px;
  box-sizing: border-box;
  border-radius: 10px;
  border: 2px solid #808080;
}

.input[type=text] {
  font-size: calc(12px + 0.5vw);
  width: 100%;
  text-align: center;
  padding: 12px 20px;
  margin: 20px 0;
  box-sizing: border-box;
  border-radius: 10px;
  border: 2px dashed #808080;
}

.input[type=file] {
  font-size: calc(8px + 0.5vw);
  text-align: center;
  padding: 12px 20px;
  margin: 20px 0;
}

.input[type=submit] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 10px;
  border: 2px solid #808080;
}

/* Mob Public View Component */
.announcements{
  background-color: white;
  height: 150px;
  font-size: calc(12px + 0.5vw);
  width: 100%;
  text-align: center;
  padding: 12px 20px;
  margin: 20px 0;
  box-sizing: border-box;
  border: 2px solid;
  border-color: lightgrey;
}

.banner{
  height: 300px;
  font-size: calc(12px + 0.5vw);
  width: 100%;
  text-align: center;
  padding: 12px 20px;
  margin: 20px 0;
  box-sizing: border-box;
  border: 2px;
}

.description{
  background-color: white;
  height: 150px;
  font-size: calc(12px + 0.5vw);
  width: 100%;
  text-align: center;
  padding: 12px 20px;
  margin: 20px 0;
  box-sizing: border-box;
  border: 2px solid;
  border-color: lightgrey;
}

.infobox{
  background-color: white;
  font-size: calc(12px + 0.5vw);
  width: 100%;
  text-align: center;
  padding: 12px 20px;
  margin: 20px 0;
  box-sizing: border-box;
  border: 2px solid;
  border-color: lightgrey;
}

.media{
  height: 300px;
  width: 100%;
  padding: 12px 20px;
  margin: 20px 0;
  box-sizing: border-box;
  border: 2px;
}
